<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:c="http://www.springframework.org/schema/c"
  xmlns:context="http://www.springframework.org/schema/context"
  xmlns:tx="http://www.springframework.org/schema/tx"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">

  <context:annotation-config />

  <tx:annotation-driven />

  <bean id="dataSource"
    class="org.springframework.jdbc.datasource.DriverManagerDataSource">
    <property name="url" value="jdbc:h2:C:/h2db/db;SCHEMA=WEB_RESOURCES" />
    <property name="driverClassName" value="org.h2.Driver" />
  </bean>

  <bean id="entityManagerFactory"
    class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
    <property name="dataSource" ref="dataSource" />
    <property name="jpaVendorAdapter">
      <bean
        class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter"></bean>
    </property>
    <property name="persistenceUnitName" value="books" />
  </bean>


  <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
    <property name="entityManagerFactory" ref="entityManagerFactory" />
  </bean>

  <bean id="transactionTemplate"
    class="org.springframework.transaction.support.TransactionTemplate">
    <property name="transactionManager" ref="transactionManager"></property>
  </bean>

  <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
    <property name="dataSource" ref="dataSource" />
  </bean>

  <bean id="schedulingTaskExecutor"
    class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
    <property name="corePoolSize" value="3"/>
    <property name="maxPoolSize" value="3"/>
    <property name="queueCapacity" value="10000"/>
    <property name="waitForTasksToCompleteOnShutdown" value="true"/>
  </bean>
  
  <bean class="org.lmind.webcrawler.core.HttpClientFactoryBean">
    <property name="socksAddress" value="127.0.0.1"/>
    <property name="socksPort" value="1080"/>
  </bean>
  
  <bean class="org.lmind.webcrawler.book.TxtExporter"></bean>
  
  <bean class="org.lmind.webcrawler.book.BookRepository"></bean>

  <bean class="org.lmind.webcrawler.book.biquge.Biquge"></bean>
  <bean class="org.lmind.webcrawler.book.biquge.BiqugeCrawler"></bean>
  
  <bean class="org.lmind.webcrawler.book.qidianfree.QidianFree"></bean>
  <bean class="org.lmind.webcrawler.book.qidianfree.QidianFreeCrawler"></bean>
  
  <bean class="org.lmind.webcrawler.comic.Exhentai"></bean>
</beans>
